body {
  text-align: center;
}
.main {
  margin: auto;
  max-width: 95%;
}
.title {
  color: #E6E6FA;
}
table {
  border: 1px solid #E6E6FA;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
table th {
  background-color: #E6E6FA;
  width: auto;
}
table th:first-child {
  width: 95px;
}
table  tr td:last-child {
  text-align: left;
}
footer {
  margin-top: 20px;
}
