body {
  text-align: center;
}
.main {
  margin: auto;
  max-width: 95%;
}
.title {
  color: #02ccba;
}
table {
  border: 1px solid #02ccba;
  width: 900px;
  max-width: 100%;
}
table th {
  background-color: #02bbba;
  width: auto;
}
