body {
  text-align: center;
}
.main {
  margin: auto;
  max-width: 95%;
}
.title {
  color: #02ccba;
}
table {
  border: 1px solid #02ccba;
  width: 100%;
  max-width: 900px;
  margin: auto;
}
table th {
  background-color: #02bbba;
  width: auto;
}
table th:first-child {
  width: 95px;
}
table  tr td:last-child {
  text-align: left;
}
